@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1547062402') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1547062402') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1547062402') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1547062402') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-20:before { content: "\a0020"; }

.icon-1e:before { content: "\a001e"; }

.icon-0:before { content: "\a0000"; }

.icon-1:before { content: "\a0001"; }

.icon-2:before { content: "\a0002"; }

.icon-3:before { content: "\a0003"; }

.icon-4:before { content: "\a0004"; }

.icon-5:before { content: "\a0005"; }

.icon-6:before { content: "\a0006"; }

.icon-7:before { content: "\a0007"; }

.icon-8:before { content: "\a0008"; }

.icon-9:before { content: "\a0009"; }

.icon-a:before { content: "\a000a"; }

.icon-b:before { content: "\a000b"; }

.icon-c:before { content: "\a000c"; }

.icon-d:before { content: "\a000d"; }

.icon-e:before { content: "\a000e"; }

.icon-f:before { content: "\a000f"; }

.icon-10:before { content: "\a0010"; }

.icon-11:before { content: "\a0011"; }

.icon-12:before { content: "\a0012"; }

.icon-13:before { content: "\a0013"; }

.icon-14:before { content: "\a0014"; }

.icon-15:before { content: "\a0015"; }

.icon-16:before { content: "\a0016"; }

.icon-17:before { content: "\a0017"; }

.icon-18:before { content: "\a0018"; }

.icon-19:before { content: "\a0019"; }

.icon-1a:before { content: "\a001a"; }

.icon-1f:before { content: "\a001f"; }

.icon-1b:before { content: "\a001b"; }

.icon-21:before { content: "\a0021"; }

.icon-1d:before { content: "\a001d"; }

.icon-1c:before { content: "\a001c"; }
