*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.oaips { display: none; position: absolute; width: 100%; height: 100%; left: 0; top: 0; overflow: hidden; -ms-touch-action: none; touch-action: none; -webkit-text-size-adjust: 100%; outline: none; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; z-index: 199999; }
.oaips img { max-width: none; }

.oaips--animate_opacity { will-change: opacity; -moz-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -o-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0.001; }

.oaips--open { display: block; }

.oaips--zoom-allowed .oaips__img { cursor: url("data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABwAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHAAAACIAAABCAAAAhAAAAwgAAPwQAAOHIAAGMaAABEiAAAzMwAAJAkAACQJAAAzMwAAESIAABjGAAAOHAAAA/AAAAAAAAAAAAAA////////////////////////////////////////////////////////////////////////j////wf///4H///8D//8AB//8AA//+AAf//BIH//xhj//4QIf/+IBH//iAR//4QIf//GGP//wSD//+AB///wA////A////////8="), all-scroll; cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: -o-zoom-in; cursor: -ms-zoom-in; cursor: zoom-in; }

.oaips--zoomed-in .oaips__img { cursor: url("data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAA//AAAd/wAAGf+AAAH9gAADbYAAA2yAAAZsAAAGbAAAAGAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//4AB//8AAf//AAD//5AA///gAP//4AD//8AF///AB///5A////5///8="), all-scroll; cursor: -webkit-grab; cursor: -moz-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }

.oaips--dragging .oaips__img { cursor: url("data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAAH/AAAB/wAAA/0AAANsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//+AB///wAf//4AH//+AD///yT/////////////////////////////8="), all-scroll; cursor: -webkit-grabbing; cursor: -moz-grabbing; cursor: -o-grabbing; cursor: -ms-grabbing; cursor: grabbing; }

.oaips__bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; will-change: opacity; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.oaips__scroll-wrap { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }

.oaips__container, .oaips__zoom-wrap { position: absolute; left: 0; right: 0; top: 0; bottom: 0; -ms-touch-action: none; touch-action: none; }

.oaips__container, .oaips__img { -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

.oaips__zoom-wrap { position: absolute; width: 100%; -moz-transform-origin: left top; -ms-transform-origin: left top; -webkit-transform-origin: left top; transform-origin: left top; -moz-transition: -moz-transform 333ms cubic-bezier(0.4, 0, 0.22, 1); -o-transition: -o-transform 333ms cubic-bezier(0.4, 0, 0.22, 1); -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.oaips__bg { -moz-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -o-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.oaips--animated-in .oaips__bg, .oaips--animated-in .oaips__zoom-wrap { -moz-transition: none; -o-transition: none; -webkit-transition: none; transition: none; }

.oaips__container, .oaips__zoom-wrap { -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; will-change: transform; }

.oaips__item { position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden; }

.oaips__img { position: absolute; width: auto; height: auto; top: 0; left: 0; }

.oaips__img--placeholder { -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.oaips__img--placeholder--blank { background: #222; }

.oaips--ie .oaips__img { width: 100% !important; height: auto !important; left: 0; top: 0; }

.oaips__error-msg { position: absolute; left: 0; top: 50%; width: 100%; text-align: center; font-size: 14px; line-height: 16px; margin-top: -8px; color: #CCC; }
.oaips__error-msg a { color: #CCC; text-decoration: underline; }

.oaips__button { float: right; position: relative; display: block; width: 44px; height: 44px; margin: 0; padding: 0; border: 0; background: none; overflow: visible; cursor: pointer; -webkit-appearance: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.oaips__button:focus, .oaips__button:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.oaips__button:active { outline: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
.oaips__button::-moz-focus-inner { padding: 0; border: 0; }

.oaips__ui--over-close .oaips__button--close { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.oaips__button, .oaips__button--arrow--left:before, .oaips__button--arrow--right:before { background: url('../img/oaips/skin.png') 0 0 no-repeat; background-size: 264px 88px; width: 44px; height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) { .oaips--svg .oaips__button, .oaips--svg .oaips__button--arrow--left:before, .oaips--svg .oaips__button--arrow--right:before { background-image: url('../img/oaips/skin.svg'); }
  .oaips--svg .oaips__button--arrow--left, .oaips--svg .oaips__button--arrow--right { background: none; } }
.oaips__button--close { background-position: 0 -44px; }

.oaips__button--share { background-position: -44px -44px; }

.oaips__button--link { background-position: -178px 0; }

.oaips__button--fs { display: none; }

.oaips--supports-fs .oaips__button--fs { display: block; }

.oaips--fs .oaips__button--fs { background-position: -44px 0; }

.oaips__button--zoom { display: none; background-position: -88px 0; }

.oaips--zoom-allowed .oaips__button--zoom { display: block; }

.oaips--zoomed-in .oaips__button--zoom { background-position: -132px 0; }

.oaips--touch .oaips__button--arrow--left, .oaips--touch .oaips__button--arrow--right { visibility: hidden; }

.oaips__button--arrow--left, .oaips__button--arrow--right { position: absolute; top: 50%; margin-top: -50px; width: 70px; height: 100px; background: none; }

.oaips__button--arrow--left { left: 0; }

.oaips__button--arrow--right { right: 0; }

.oaips__button--arrow--left:before, .oaips__button--arrow--right:before { content: ''; position: absolute; top: 35px; background-color: rgba(0, 0, 0, 0.3); height: 30px; width: 32px; }

.oaips__button--arrow--left:before { left: 6px; background-position: -138px -44px; }

.oaips__button--arrow--right:before { right: 6px; background-position: -94px -44px; }

.oaips__counter, .oaips__share-modal { -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

.oaips__share-modal { display: block; background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; top: 0; left: 0; padding: 10px; position: absolute; z-index: 101600; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; will-change: opacity; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: opacity 0.25s ease-out; -o-transition: opacity 0.25s ease-out; -webkit-transition: opacity 0.25s ease-out; transition: opacity 0.25s ease-out; }

.oaips__share-modal--hidden { display: none; }

.oaips__share-tooltip { position: absolute; top: 56px; right: 44px; z-index: 101620; background: #FFF; display: block; width: auto; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); -moz-transform: translateY(6px); -ms-transform: translateY(6px); -webkit-transform: translateY(6px); transform: translateY(6px); -moz-transition: 0.25s; -o-transition: 0.25s; -webkit-transition: 0.25s; transition: 0.25s; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; will-change: transform; }
.oaips__share-tooltip a { display: block; padding: 8px 12px; color: #000; text-decoration: none; font-size: 14px; text-align: left; line-height: 18px; }
.oaips__share-tooltip a:hover { text-decoration: none; color: #000; }
.oaips__share-tooltip a:first-child { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.oaips__share-tooltip a:last-child { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }

.oaips__share-modal--fade-in { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.oaips__share-modal--fade-in .oaips__share-tooltip { -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); }

.oaips--touch .oaips__share-tooltip a { padding: 16px 12px; }

a.oaips__share--facebook:before { content: ''; position: absolute; top: -12px; right: 15px; display: block; width: 0; height: 0; border: 6px solid transparent; border-bottom-color: #FFF; -webkit-pointer-events: none; -moz-pointer-events: none; pointer-events: none; }
a.oaips__share--facebook:hover { background: #3E5C9A; color: #FFF; }
a.oaips__share--facebook:hover:before { border-bottom-color: #3E5C9A; }
a.oaips__share--twitter:hover { background: #55ACEE; color: #FFF; }
a.oaips__share--pinterest:hover { background: #CCC; color: #CE272D; }
a.oaips__share--download:hover { background: #DDD; }

.oaips__counter { position: absolute; left: 0; top: 0; height: 44px; font-size: 13px; line-height: 44px; color: #FFF; padding: 0 10px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }

.oaips__caption { position: absolute; left: 0; bottom: 0; width: 100%; min-height: 44px; }
.oaips__caption small { font-size: 11px; color: #BBB; }

.oaips__caption__center { text-align: left; margin: 0 auto; font-size: 13px; padding: 10px; line-height: 20px; color: #CCC; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.oaips__caption__center > div:nth-child(1) { font-size: 18px; padding: 0 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.oaips__caption__center > div:nth-child(2) { border-top: 1px solid rgba(255, 255, 255, 0.3); margin-top: 5px; padding: 0 5px; padding-top: 5px; word-break: break-all; }
.oaips__caption__center > div:nth-child(2) a { display: inline-block; color: #fff; font-weight: normal; text-decoration: none; padding: 0 2px; padding-bottom: 1px; border-bottom: 1px solid #fff; font-size: 14px; margin-left: 5px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.oaips__caption__center > div:nth-child(2) a.active, .oaips__caption__center > div:nth-child(2) a:hover { color: #fff; border-bottom: 1px solid #fff; }

.oaips__caption--empty { display: none; }

.oaips__caption--fake { visibility: hidden; }

.oaips__preloader { position: absolute; top: 0; left: 50%; width: 44px; height: 44px; margin-left: -22px; will-change: opacity; direction: ltr; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: opacity 0.25s ease-out; -o-transition: opacity 0.25s ease-out; -webkit-transition: opacity 0.25s ease-out; transition: opacity 0.25s ease-out; }

.oaips__preloader__icn { width: 20px; height: 20px; margin: 12px; }

.oaips__preloader--active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.oaips__preloader--active .oaips__preloader__icn { background: url('../img/oaips/preloader.gif') 0 0 no-repeat; }

.oaips--css_animation .oaips__preloader--active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.oaips--css_animation .oaips__preloader--active .oaips__preloader__icn { -moz-animation: clockwise 500ms linear infinite; -webkit-animation: clockwise 500ms linear infinite; animation: clockwise 500ms linear infinite; }
.oaips--css_animation .oaips__preloader--active .oaips__preloader__donut { -moz-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }
.oaips--css_animation .oaips__preloader__icn { position: absolute; left: 15px; top: 15px; width: 14px; height: 14px; margin: 0; background: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }
.oaips--css_animation .oaips__preloader__cut { position: relative; width: 7px; height: 14px; overflow: hidden; }
.oaips--css_animation .oaips__preloader__donut { position: absolute; top: 0; left: 0; width: 14px; height: 14px; margin: 0; border: 2px solid #FFF; border-left-color: transparent; border-bottom-color: transparent; background: none; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

@media screen and (min-width: 1024px) { .oaips__preloader { position: relative; left: auto; top: auto; margin: 0; float: right; } }
@-moz-keyframes clockwise { 0% { -moz-transform: rotate(0); transform: rotate(0); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes clockwise { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes clockwise { 0% { -moz-transform: rotate(0); -ms-transform: rotate(0); -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-moz-keyframes donut-rotate { 0% { -moz-transform: rotate(0); transform: rotate(0); }
  100% { -moz-transform: rotate(-140deg); transform: rotate(-140deg); } }
@-webkit-keyframes donut-rotate { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(-140deg); transform: rotate(-140deg); } }
@keyframes donut-rotate { 0% { -moz-transform: rotate(0); -ms-transform: rotate(0); -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -moz-transform: rotate(-140deg); -ms-transform: rotate(-140deg); -webkit-transform: rotate(-140deg); transform: rotate(-140deg); } }
.oaips__ui { z-index: 101550; visibility: visible; -moz-osx-font-smoothing: auto; -webkit-font-smoothing: auto; -moz-font-smoothing: auto; -ms-font-smoothing: auto; -o-font-smoothing: auto; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.oaips__top-bar { position: absolute; left: 0; top: 0; height: 44px; width: 100%; }

.oaips__caption, .oaips__top-bar, .oaips--has_mouse .oaips__button--arrow--left, .oaips--has_mouse .oaips__button--arrow--right { will-change: opacity; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -o-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.oaips--has_mouse .oaips__button--arrow--left, .oaips--has_mouse .oaips__button--arrow--right { visibility: visible; }

.oaips__top-bar, .oaips__caption { background-color: rgba(0, 0, 0, 0.5); }

.oaips__ui--fit .oaips__top-bar, .oaips__ui--fit .oaips__caption { background-color: rgba(0, 0, 0, 0.75); }

.oaips__ui--idle .oaips__top-bar { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.oaips__ui--idle .oaips__button--arrow--left, .oaips__ui--idle .oaips__button--arrow--right { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.oaips__ui--hidden .oaips__top-bar, .oaips__ui--hidden .oaips__caption, .oaips__ui--hidden .oaips__button--arrow--left, .oaips__ui--hidden .oaips__button--arrow--right { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0.001; }

.oaips__ui--one-slide .oaips__button--arrow--left, .oaips__ui--one-slide .oaips__button--arrow--right, .oaips__ui--one-slide .oaips__counter { display: none; }

.oaips__element--disabled { display: none !important; }

.oaips--minimal--dark .oaips__top-bar { background: none; }
