@charset "UTF-8";
section code:after, section pre > label:before, section blockquote.info:before, section blockquote.warning:before {
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

#toastr .toastr label, #loading span, #prev-next a *, section figure, #menu a span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "icon";
  src: url("../icon/icomoon/fonts/icomoon.eot?t=1621759725784") format("embedded-opentype"), url("../icon/icomoon/fonts/icomoon.woff?t=1621759725784") format("woff"), url("../icon/icomoon/fonts/icomoon.ttf?t=1621759725784") format("truetype"), url("../icon/icomoon/fonts/icomoon.svg?t=1621759725784") format("svg");
}
*, *:after, *:before {
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

:root {
  --ui-color-label: black;
  --ui-color-secondaryLabel: rgba(60, 60, 67, 0.6);
  --ui-color-tertiaryLabel: rgba(60, 60, 67, 0.3);
  --ui-color-quaternaryLabel: rgba(60, 60, 67, 0.18);
  --ui-color-placeholderText: rgba(60, 60, 67, 0.3);
  --ui-color-link: #007aff;
  --ui-color-lightText: rgba(255, 255, 255, 0.6);
  --ui-color-darkText: black;
  --ui-color-systemBackground: white;
  --ui-color-secondarySystemBackground: #f2f2f7;
  --ui-color-tertiarySystemBackground: white;
  --ui-color-systemGroupedBackground: #f2f2f7;
  --ui-color-secondarySystemGroupedBackground: white;
  --ui-color-tertiarySystemGroupedBackground: #f2f2f7;
  --ui-color-systemBlue: #007aff;
  --ui-color-systemGreen: #34c759;
  --ui-color-systemIndigo: #5856d6;
  --ui-color-systemOrange: #ff9500;
  --ui-color-systemPink: #ff2d55;
  --ui-color-systemPurple: #af52de;
  --ui-color-systemRed: #ff3b30;
  --ui-color-systemTeal: #5ac8fa;
  --ui-color-systemYellow: #ffcc00;
  --ui-color-separator: rgba(60, 60, 67, 0.29);
  --ui-color-opaqueSeparator: #c6c6c8;
  --ui-color-systemFill: rgba(120, 120, 128, 0.2);
  --ui-color-secondarySystemFill: rgba(120, 120, 128, 0.16);
  --ui-color-tertiarySystemFill: rgba(118, 118, 128, 0.12);
  --ui-color-quaternarySystemFill: rgba(116, 116, 128, 0.08);
  --ui-color-systemGray: #8e8e93;
  --ui-color-systemGray2: #aeaeb2;
  --ui-color-systemGray3: #c7c7cc;
  --ui-color-systemGray4: #d1d1d6;
  --ui-color-systemGray5: #e5e5ea;
  --ui-color-systemGray6: #f2f2f7;
  --ui-color-codeColor: black;
  --ui-color-codeBackground: #e8e8ed;
  --ui-color-codeBlockquoteBackground: #c6c6c8;
  --ui-color-codeCopyBlockquoteColor: #005aff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ui-color-label: rgba(255, 255, 255, 0.9);
    --ui-color-secondaryLabel: rgba(235, 235, 245, 0.6);
    --ui-color-tertiaryLabel: rgba(235, 235, 245, 0.3);
    --ui-color-quaternaryLabel: rgba(235, 235, 245, 0.18);
    --ui-color-placeholderText: rgba(235, 235, 245, 0.3);
    --ui-color-link: #0984ff;
    --ui-color-lightText: rgba(255, 255, 255, 0.6);
    --ui-color-darkText: black;
    --ui-color-systemBackground: black;
    --ui-color-secondarySystemBackground: #1c1c1e;
    --ui-color-tertiarySystemBackground: #2c2c2e;
    --ui-color-systemGroupedBackground: black;
    --ui-color-secondarySystemGroupedBackground: #1c1c1e;
    --ui-color-tertiarySystemGroupedBackground: #2c2c2e;
    --ui-color-systemBlue: #0a84ff;
    --ui-color-systemGreen: #30d158;
    --ui-color-systemIndigo: #5e5ce6;
    --ui-color-systemOrange: #ff9f0a;
    --ui-color-systemPink: #ff375f;
    --ui-color-systemPurple: #bf5af2;
    --ui-color-systemRed: #ff453a;
    --ui-color-systemTeal: #64d2ff;
    --ui-color-systemYellow: #ffd60a;
    --ui-color-separator: rgba(84, 84, 88, 0.6);
    --ui-color-opaqueSeparator: #38383a;
    --ui-color-systemFill: rgba(120, 120, 128, 0.36);
    --ui-color-secondarySystemFill: rgba(120, 120, 128, 0.32);
    --ui-color-tertiarySystemFill: rgba(118, 118, 128, 0.24);
    --ui-color-quaternarySystemFill: rgba(118, 118, 128, 0.18);
    --ui-color-systemGray: #8e8e93;
    --ui-color-systemGray2: #636366;
    --ui-color-systemGray3: #48484a;
    --ui-color-systemGray4: #3a3a3c;
    --ui-color-systemGray5: #2c2c2e;
    --ui-color-systemGray6: #1c1c1e;
    --ui-color-codeColor: white;
    --ui-color-codeBackground: #404042;
    --ui-color-codeBlockquoteBackground: #7c7c7e;
    --ui-color-codeCopyBlockquoteColor: #64d2ff;
  }
}
body {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: medium;
  text-align: center;
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-family: Content-font, Roboto, sans-serif;
  background-color: var(--ui-color-systemBackground);
}

#app {
  display: inline-block;
  width: 100%;
}
#app:after {
  position: fixed;
  top: 0;
  display: inline-block;
  height: 100%;
  content: "";
  background-color: rgba(0, 255, 0, 0.2);
}

#menu {
  position: fixed;
  top: 0;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--ui-color-secondarySystemBackground);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 20px;
}
#menu:before {
  position: absolute;
  right: -1px;
  top: 0;
  display: inline-block;
  width: 1px;
  height: 100%;
  -webkit-box-shadow: 0 0 2px var(--ui-color-tertiaryLabel);
  -moz-box-shadow: 0 0 2px var(--ui-color-tertiaryLabel);
  box-shadow: 0 0 2px var(--ui-color-tertiaryLabel);
}
#menu a {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: left;
  color: var(--ui-color-label);
  padding-left: 18px;
  letter-spacing: 1px;
  padding-right: 12px;
  text-decoration: none;
  font-size: medium;
}
#menu a:before, #menu a:after {
  position: absolute;
  display: inline-block;
}
#menu a:after {
  left: 16px;
  top: 2px;
  right: 16px;
  bottom: 2px;
  width: calc(100% - 16px - 16px);
  height: calc(100% - 2px * 2);
  content: "";
  background-color: var(--ui-color-quaternaryLabel);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#menu a:before {
  left: 26px;
  top: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  color: var(--ui-color-link);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#menu a[class^=icon-], #menu a[class*=" icon-"] {
  padding-left: 56px;
}
#menu a:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  opacity: 0.45;
}
#menu a.active:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
#menu a span {
  height: 44px;
  line-height: 44px;
}
#menu a span:after {
  color: var(--ui-color-secondaryLabel);
  font-size: small;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-top: calc(24px / 2);
  margin-left: 2px;
}
#menu a span[text]:not([text="0"]):after {
  content: "(" attr(text) ")";
}

.copy {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: fixed;
  left: -1000px;
  top: -1000px;
  z-index: -9999;
}

.articles a, #prev-next a {
  cursor: pointer;
  border: 1px solid var(--ui-color-quaternaryLabel);
  background-color: var(--ui-color-systemBackground);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 9px 0 var(--ui-color-quaternaryLabel);
  -moz-box-shadow: 0 2px 9px 0 var(--ui-color-quaternaryLabel);
  box-shadow: 0 2px 9px 0 var(--ui-color-quaternaryLabel);
}
@media screen and (min-width: 450px) {
  .articles a, #prev-next a {
    -webkit-transition: border-color 0.3s, box-shadow 0.3s;
    -moz-transition: border-color 0.3s, box-shadow 0.3s;
    -o-transition: border-color 0.3s, box-shadow 0.3s;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  .articles a:hover, #prev-next a:hover {
    border-color: var(--ui-color-link);
  }
}

footer, #prev-next, section h3, section h2, section, #main header {
  position: relative;
  display: inline-block;
  width: 100%;
}
section footer + p, section #prev-next + p, section footer + blockquote, section #prev-next + blockquote, section footer + ul, section #prev-next + ul, section footer + ol, section #prev-next + ol, section footer + pre, section #prev-next + pre, section footer + figure, section #prev-next + figure, section footer + table, section #prev-next + table, section footer + .iframe, section #prev-next + .iframe, section h3 + p, section h3 + blockquote, section h3 + ul, section h3 + ol, section h3 + pre, section h3 + figure, section h3 + table, section h3 + .iframe, section h2 + p, section h2 + blockquote, section h2 + ul, section h2 + ol, section h2 + pre, section h2 + figure, section h2 + table, section h2 + .iframe, section section + p, section section + blockquote, section section + ul, section section + ol, section section + pre, section section + figure, section section + table, section section + .iframe, #main section header + p, section #main header + p, #main section header + blockquote, section #main header + blockquote, #main section header + ul, section #main header + ul, #main section header + ol, section #main header + ol, #main section header + pre, section #main header + pre, #main section header + figure, section #main header + figure, #main section header + table, section #main header + table, #main section header + .iframe, section #main header + .iframe {
  margin-top: 18px;
}

section p, section blockquote, section ul, section ol, section pre, section figure, section table, section .iframe {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
section p + p, section blockquote + p, section ul + p, section ol + p, section pre + p, section figure + p, section table + p, section .iframe + p, section p + blockquote, section blockquote + blockquote, section ul + blockquote, section ol + blockquote, section pre + blockquote, section figure + blockquote, section table + blockquote, section .iframe + blockquote, section p + ul, section blockquote + ul, section ul + ul, section ol + ul, section pre + ul, section figure + ul, section table + ul, section .iframe + ul, section p + ol, section blockquote + ol, section ul + ol, section ol + ol, section pre + ol, section figure + ol, section table + ol, section .iframe + ol, section p + pre, section blockquote + pre, section ul + pre, section ol + pre, section pre + pre, section figure + pre, section table + pre, section .iframe + pre, section p + figure, section blockquote + figure, section ul + figure, section ol + figure, section pre + figure, section figure + figure, section table + figure, section .iframe + figure, section p + table, section blockquote + table, section ul + table, section ol + table, section pre + table, section figure + table, section table + table, section .iframe + table, section p + .iframe, section blockquote + .iframe, section ul + .iframe, section ol + .iframe, section pre + .iframe, section figure + .iframe, section table + .iframe, section .iframe + .iframe {
  margin-top: 20px;
}

#main header {
  padding-bottom: 28px;
  margin-bottom: 28px;
  margin-top: 48px;
}
#main header * {
  display: inline-block;
  width: 100%;
}
#main header h1 {
  line-height: 1.2;
  margin: 0;
}
#main header span {
  margin-top: 8px;
  color: var(--ui-color-secondaryLabel);
}
#main header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid var(--ui-color-separator);
}

section h2 {
  margin: 0;
  line-height: 1.2;
}
section h2:not(:first-child) {
  margin-top: 72px;
}
section h2:first-child {
  margin-top: 20px;
}
section h2 + h2:not(:first-child) {
  margin-top: 48px;
}
section h2 + h3:not(:first-child) {
  margin-top: 32px;
}
section h3 {
  margin: 0;
}
section h3:not(:first-child) {
  margin-top: 52px;
}
section a {
  color: var(--ui-color-link);
}
section blockquote {
  padding: 20px 24px;
  overflow: hidden;
  background: var(--ui-color-secondarySystemBackground);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
section blockquote code {
  background-color: var(--ui-color-codeBlockquoteBackground);
}
section blockquote code:after {
  color: var(--ui-color-codeCopyBlockquoteColor);
}
section blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: inline-block;
  width: 5px;
  height: 100%;
  background-color: var(--ui-color-systemTeal);
}
section blockquote:before {
  position: absolute;
  left: 14px;
  top: 24px;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 24px;
  text-align: center;
}
section blockquote.warning {
  padding-left: 50px;
}
section blockquote.warning:after {
  background-color: var(--ui-color-systemRed);
}
section blockquote.warning:before {
  top: 20px;
  content: "򠀥";
  color: var(--ui-color-systemRed);
}
section blockquote.info {
  padding-left: 50px;
}
section blockquote.info:after {
  background-color: var(--ui-color-systemGreen);
}
section blockquote.info:before {
  top: 20px;
  content: "򠀤";
  color: var(--ui-color-systemGreen);
}
section pre {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-family: Hack, Content-font, Roboto, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
section pre > label {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  display: inline-block;
  width: 36px;
  height: 28px;
  line-height: 28px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: rgba(120, 120, 120, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
section pre > label:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
section pre > label:before {
  content: "򠀨";
}
section pre > div {
  position: relative;
  z-index: 20;
  width: 100%;
  display: block;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  overflow-x: auto;
  font-size: small;
  -webkit-overflow-scrolling: touch;
}
section pre > div::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
section pre > div::-webkit-scrollbar {
  background-color: transparent;
  height: 9px;
}
section pre > div:after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: inline-block;
  width: 42px;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
section pre > div div {
  z-index: 5;
  position: relative;
  display: block;
  line-height: 22px;
  counter-increment: line;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
section pre > div div:before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 32px;
  height: 22px;
  line-height: 22px;
  text-align: right;
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  opacity: 0.45;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: small;
  font-family: Content-font, Roboto, sans-serif;
}
section pre.lines {
  padding-left: 8px;
}
section pre.lines > div:after {
  content: "";
}
section pre.lines > div div {
  padding-left: 54px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
section pre.lines > div div:before {
  content: counter(line);
}
section pre.lines > div div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
section pre.lines > div div:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
section pre.xcode {
  color: white;
  background-color: #202025;
}
section pre.xcode .red1 {
  color: #f7439d;
}
section pre.xcode .red2 {
  color: #ff6063;
}
section pre.xcode .blue1 {
  color: #3ebee0;
}
section pre.xcode .blue2 {
  color: #75e1ff;
}
section pre.xcode .purple1 {
  color: #b67ef9;
}
section pre.xcode .purple2 {
  color: #d9baff;
}
section pre.xcode .yellow {
  color: #ffe97f;
}
section pre.xcode .gray {
  color: #788591;
}
section pre.xcode .green1 {
  color: #b6feee;
}
section pre.xcode .green2 {
  color: #64d7c0;
}
section pre:not(.xcode) {
  color: rgba(255, 255, 255, 0.9);
  background-color: #242428;
}
section pre:not(.xcode) .gray {
  color: #7d8c98;
}
section pre:not(.xcode) .red {
  color: #ff375f;
}
section pre:not(.xcode) .blue {
  color: #64d2ff;
}
section pre:not(.xcode) .yellow {
  color: #ffe894;
}
section pre:not(.xcode) .purple {
  color: #b883fa;
}
section pre:not(.xcode) .green {
  color: #b0fdb0;
}
section pre:not(.xcode) .orange {
  color: #eb9634;
}
section ul, section ol {
  padding-left: 36px;
}
section ul p, section ul blockquote, section ul ul, section ul ol, section ul pre, section ul figure, section ul table, section ul .iframe, section ol p, section ol blockquote, section ol ul, section ol ol, section ol pre, section ol figure, section ol table, section ol .iframe {
  margin-top: 0;
}
section ul pre + pre, section ol pre + pre {
  margin-top: 4px;
}
section ul li + li, section ol li + li {
  margin-top: 4px;
}
section ul ul, section ul ol, section ol ul, section ol ol {
  padding-left: 28px;
}
section ul ul ul, section ul ul ol, section ul ol ul, section ul ol ol, section ol ul ul, section ol ul ol, section ol ol ul, section ol ol ol {
  padding-left: 24px;
}
section figure {
  width: auto;
  padding: 0;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
section figure img {
  max-width: 100%;
}
section figure:after, section figure:before {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
}
section figure:after {
  max-width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: small;
  letter-spacing: 0.5px;
  color: white;
  padding: 0 12px;
  background-color: rgba(36, 36, 40, 0.7);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
section figure:before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid var(--ui-color-separator);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
section figure[alt]:not([alt=""]):after {
  content: attr(alt);
}
section figure[alt]:not([alt=""]):before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
section table {
  display: table;
  table-layout: fixed;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid var(--ui-color-separator);
}
section table th, section table td {
  padding: 2px 6px;
}
section table th + th, section table th + td, section table td + th, section table td + td {
  border-left: 1px solid var(--ui-color-separator);
}
section table thead tr:nth-child(2n+1) {
  background-color: var(--ui-color-secondarySystemBackground);
}
section table thead tr:nth-child(2n+2) {
  background-color: var(--ui-color-tertiarySystemBackground);
}
section table tbody tr:nth-child(2n+1) {
  background-color: var(--ui-color-tertiarySystemBackground);
}
section table tbody tr:nth-child(2n+2) {
  background-color: var(--ui-color-secondarySystemBackground);
}
section table tr + tr th, section table tr + tr td {
  border-top: 1px solid var(--ui-color-separator);
}
section table thead tr th {
  border-bottom: 1px solid var(--ui-color-separator);
}
section .iframe {
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}
section .iframe iframe {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
section code {
  position: relative;
  padding: 2px 6px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: var(--ui-color-codeColor);
  background-color: var(--ui-color-codeBackground);
  font-size: small;
  font-family: Hack, Content-font, Roboto, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px var(--ui-color-tertiaryLabel);
  -moz-box-shadow: inset 0 0 1px var(--ui-color-tertiaryLabel);
  box-shadow: inset 0 0 1px var(--ui-color-tertiaryLabel);
}
section code[copy]:not([copy=""]) {
  cursor: pointer;
}
section code[copy]:not([copy=""]):after {
  content: "򠀨";
}
section code:after {
  display: inline;
  text-align: center;
  font-size: 12px;
  width: 20px;
  margin-left: 6px;
  color: var(--ui-color-link);
}
section code.red {
  color: white;
  background-color: var(--ui-color-systemRed);
}
section code.green {
  color: white;
  background-color: var(--ui-color-systemGreen);
}
section > figure + p, section > blockquote + p, section > .iframe + p {
  margin-top: 32px;
}

#prev-next {
  margin-top: 48px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#prev-next a {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  padding: 16px;
}
#prev-next a:before {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 32px;
  color: var(--ui-color-secondaryLabel);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#prev-next a * {
  display: inline-block;
  width: 100%;
}
#prev-next.n1 a {
  width: 100%;
}
#prev-next b {
  font-size: medium;
  color: var(--ui-color-label);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#prev-next span {
  font-size: small;
  color: var(--ui-color-secondaryLabel);
}
#prev-next .prev {
  padding-left: 56px;
}
#prev-next .prev * {
  text-align: right;
}
#prev-next .prev:before {
  left: 12px;
}
#prev-next .next {
  padding-right: 56px;
}
#prev-next .next * {
  text-align: left;
}
#prev-next .next:before {
  right: 12px;
}

footer {
  margin-top: 48px;
  padding-top: 30px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
footer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  border-top: 1px solid var(--ui-color-separator);
}
footer time {
  display: inline-block;
  width: 100%;
  text-align: right;
}
footer time:before {
  display: inline-block;
  color: var(--ui-color-secondaryLabel);
  content: "上次更新約：";
}

#main {
  position: relative;
  text-align: left;
  line-height: 27px;
  color: var(--ui-color-label);
  display: inline-block;
  width: 100%;
}

#article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.articles {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-rows: auto;
}
.articles a {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}
.articles a b {
  display: inline-block;
  width: 100%;
  color: var(--ui-color-label);
  line-height: 1.5;
  font-weight: 400;
}
.articles a span {
  display: inline-block;
  width: 100%;
  margin-top: 8px;
  color: var(--ui-color-secondaryLabel);
  font-size: small;
  line-height: 1.625;
}
.articles figure {
  display: inline-block;
  width: 100%;
  margin: 0;
  height: auto;
  border: 1px solid rgba(255, 0, 0, 0.3);
  padding-bottom: 52.5%;
}
.articles figure img {
  width: 100%;
}

#loading {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}
#loading .activity {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
#loading i {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 6px;
  background-color: var(--ui-color-secondaryLabel);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  -webkit-animation: loop 1.2s linear infinite;
  -moz-animation: loop 1.2s linear infinite;
  -ms-animation: loop 1.2s linear infinite;
  -o-animation: loop 1.2s linear infinite;
  animation: loop 1.2s linear infinite;
}
#loading i.n0 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -moz-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  -o-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  top: calc(50% - 1 * 14px / 2);
  left: calc(50% + 0 * 14px / 2);
}
#loading i.n1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  top: calc(50% - 0.7071067812 * 14px / 2);
  left: calc(50% + 0.7071067812 * 14px / 2);
}
#loading i.n2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
  top: calc(50% - 0 * 14px / 2);
  left: calc(50% + 1 * 14px / 2);
}
#loading i.n3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  -moz-transform: translate(-50%, -50%) rotate(135deg);
  -ms-transform: translate(-50%, -50%) rotate(135deg);
  -o-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
  top: calc(50% - -0.7071067812 * 14px / 2);
  left: calc(50% + 0.7071067812 * 14px / 2);
}
#loading i.n4 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -moz-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  -o-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  top: calc(50% - -1 * 14px / 2);
  left: calc(50% + 0 * 14px / 2);
}
#loading i.n5 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
  -moz-transform: translate(-50%, -50%) rotate(225deg);
  -ms-transform: translate(-50%, -50%) rotate(225deg);
  -o-transform: translate(-50%, -50%) rotate(225deg);
  transform: translate(-50%, -50%) rotate(225deg);
  top: calc(50% - -0.7071067812 * 14px / 2);
  left: calc(50% + -0.7071067812 * 14px / 2);
}
#loading i.n6 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
  -moz-transform: translate(-50%, -50%) rotate(270deg);
  -ms-transform: translate(-50%, -50%) rotate(270deg);
  -o-transform: translate(-50%, -50%) rotate(270deg);
  transform: translate(-50%, -50%) rotate(270deg);
  top: calc(50% - 0 * 14px / 2);
  left: calc(50% + -1 * 14px / 2);
}
#loading i.n7 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
  -moz-transform: translate(-50%, -50%) rotate(315deg);
  -ms-transform: translate(-50%, -50%) rotate(315deg);
  -o-transform: translate(-50%, -50%) rotate(315deg);
  transform: translate(-50%, -50%) rotate(315deg);
  top: calc(50% - 0.7071067812 * 14px / 2);
  left: calc(50% + -0.7071067812 * 14px / 2);
}
#loading span {
  flex-shrink: 0;
  display: inline-block;
  margin-left: 6px;
  color: var(--ui-color-secondaryLabel);
}

#p404 {
  width: 100%;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#p404 i {
  display: inline-block;
  width: 100%;
  height: 150px;
  line-height: 150px;
  font-size: 150px;
  font-weight: bold;
  color: var(--ui-color-tertiaryLabel);
  text-shadow: 1px 1px 1px var(--ui-color-systemBackground), -1px -1px 1px var(--ui-color-tertiaryLabel);
}
#p404 b {
  display: inline-block;
  width: 100%;
  height: 64px;
  line-height: 64px;
  font-size: 56px;
  color: var(--ui-color-tertiaryLabel);
}
#p404 > span {
  display: inline-block;
  width: 100%;
  color: var(--ui-color-secondaryLabel);
  font-size: small;
}
#p404 p {
  color: var(--ui-color-label);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#p404 p a, #p404 p label {
  color: var(--ui-color-link);
  text-decoration: none;
  cursor: pointer;
  margin: 0 4px;
}
#p404 p a:before, #p404 p label:before {
  display: inline-block;
  margin-right: 2px;
}

#toastr {
  position: fixed;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 320px;
  z-index: 50;
  padding: 8px;
}
#toastr .toastr {
  position: relative;
  display: inline-block;
  width: 100%;
  color: white;
  padding: 12px 16px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #252a2f;
}
#toastr .toastr:before, #toastr .toastr i, #toastr .toastr i:after {
  position: absolute;
  display: inline-block;
}
#toastr .toastr i {
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
}
#toastr .toastr i:after {
  content: "";
  left: 0;
  height: 4px;
  width: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation: empty 5s linear;
  -moz-animation: empty 5s linear;
  -ms-animation: empty 5s linear;
  -o-animation: empty 5s linear;
  animation: empty 5s linear;
}
#toastr .toastr[class^=icon-], #toastr .toastr[class*=" icon-"] {
  padding-left: 46px;
}
#toastr .toastr:before {
  width: 40px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  left: 4px;
  top: 10px;
  font-size: 24px;
}
#toastr .toastr label {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 12px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#toastr .toastr label:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#toastr .toastr b, #toastr .toastr span {
  display: inline-block;
  width: 100%;
  text-align: left;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
#toastr .toastr b {
  font-size: 16px;
  padding-right: 16px;
}
#toastr .toastr b + span {
  padding-right: 0 !important;
}
#toastr .toastr span {
  font-size: 14px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  padding-right: 12px;
}
#toastr .toastr.success {
  background-color: #00d27a;
}
#toastr .toastr.failure {
  background-color: #e63757;
}
#toastr .toastr + .toastr {
  margin-top: 8px;
}

@-webkit-keyframes loop {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes loop {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-o-keyframes loop {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes loop {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes loop {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes empty {
  0% {
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    width: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@-moz-keyframes empty {
  0% {
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    width: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@-o-keyframes empty {
  0% {
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    width: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@-ms-keyframes empty {
  0% {
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    width: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@keyframes empty {
  0% {
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  100% {
    width: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@media screen and (max-width: 750px) and (min-width: 0) {
  #app {
    padding-top: 68px;
    padding-bottom: 24px;
    padding-right: 16px;
    padding-left: 16px;
  }

  #main header {
    margin-top: 12px;
  }

  #cover {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 15;
  }

  #header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background-color: var(--ui-color-systemBackground);
    z-index: 10;
    -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  }
  #header span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #header label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 44px;
    height: 44px;
    font-size: 24px;
    color: var(--ui-color-secondaryLabel);
  }

  #menu {
    left: 0;
    width: 250px;
    z-index: 20;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.15);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    -o-transition: opacity 0.3s, -o-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  #menu.on {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  #main {
    z-index: 5;
  }
}
@media screen and (max-width: 350px) and (min-width: 0) {
  #app {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 750px) {
  #menu:before {
    content: "";
  }

  #header {
    display: none;
  }
}
@media screen and (max-width: 1100px) and (min-width: 750px) {
  #app {
    padding-bottom: 28px;
    padding-right: 48px;
    padding-left: 248px;
  }

  #menu {
    left: 0;
    width: 200px;
  }
}
@media screen and (max-width: 1240px) and (min-width: 1100px) {
  #app {
    padding-bottom: 32px;
    padding-left: calc(50% - 1100px / 2 + 200px + 20px + 36px);
    padding-right: calc(50% - 1100px / 2 + 36px);
  }

  #menu {
    left: 0;
    right: calc(50% + 1100px / 2 - 200px);
    padding-left: calc(50% - 1100px / 2);
  }
}
@media screen and (max-width: 1354px) and (min-width: 1240px) {
  #app {
    padding-bottom: 32px;
    padding-left: calc(50% - 1180px / 2 + 220px + 30px + 44px);
    padding-right: calc(50% - 1180px / 2 + 44px);
  }

  #menu {
    left: 0;
    right: calc(50% + 1180px / 2 - 220px);
    padding-left: calc(50% - 1180px / 2);
  }
}
@media screen and (min-width: 1354px) {
  #app {
    padding-bottom: 32px;
    padding-left: calc(50% - 1274px / 2 + 250px + 40px + 48px);
    padding-right: calc(50% - 1274px / 2 + 48px);
  }

  #menu {
    left: 0;
    right: calc(50% + 1274px / 2 - 250px);
    padding-left: calc(50% - 1274px / 2);
  }
}
@media screen and (max-width: 450px) and (min-width: 0) {
  #prev-next a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #prev-next a:before {
    font-size: 24px;
  }
  #prev-next .prev {
    padding-left: 48px;
  }
  #prev-next .prev:before {
    left: 4px;
  }
  #prev-next .next {
    padding-right: 48px;
  }
  #prev-next .next:before {
    right: 4px;
  }

  .articles {
    grid-row-gap: 18px;
    grid-column-gap: 0;
    grid-template-columns: 100%;
  }
  .articles a {
    padding: 10px 16px;
  }
  .articles a span {
    margin-top: 4px;
  }
}
@media screen and (max-width: 670px) and (min-width: 0) {
  #prev-next.n2 {
    flex-direction: column-reverse;
  }
  #prev-next.n2 a {
    width: 100%;
  }
  #prev-next.n2 a:first-child {
    margin-top: 20px;
  }
}
@media screen and (max-width: 670px) and (min-width: 450px) {
  .articles {
    grid-row-gap: 24px;
    grid-column-gap: 0;
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 750px) and (min-width: 670px) {
  #prev-next.n2 a {
    width: calc(50% - 24px / 2);
  }
  #prev-next.n2 a + a {
    margin-left: 24px;
  }

  #prev-next a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #prev-next a:before {
    font-size: 24px;
  }
  #prev-next .prev {
    padding-left: 48px;
  }
  #prev-next .prev:before {
    left: 4px;
  }
  #prev-next .next {
    padding-right: 48px;
  }
  #prev-next .next:before {
    right: 4px;
  }

  .articles {
    grid-row-gap: 28px;
    grid-column-gap: 24px;
    grid-template-columns: calc(100% / 2 - 24px * 1 / 2) calc(100% / 2 - 24px * 1 / 2);
  }
}
@media screen and (max-width: 960px) and (min-width: 750px) {
  #prev-next.n2 {
    flex-direction: column-reverse;
  }
  #prev-next.n2 a {
    width: 100%;
    margin-top: 20px;
  }
  #prev-next.n2 a + a {
    margin-top: 0;
  }

  .articles {
    grid-row-gap: 24px;
    grid-column-gap: 0;
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 1354px) and (min-width: 960px) {
  #prev-next.n2 a {
    width: calc(50% - 32px / 2);
  }
  #prev-next.n2 a + a {
    margin-left: 32px;
  }

  #prev-next a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #prev-next a:before {
    font-size: 24px;
  }
  #prev-next .prev {
    padding-left: 48px;
  }
  #prev-next .prev:before {
    left: 4px;
  }
  #prev-next .next {
    padding-right: 48px;
  }
  #prev-next .next:before {
    right: 4px;
  }

  .articles {
    grid-row-gap: 28px;
    grid-column-gap: 24px;
    grid-template-columns: calc(100% / 2 - 24px * 1 / 2) calc(100% / 2 - 24px * 1 / 2);
  }
}
@media screen and (min-width: 1354px) {
  #prev-next.n2 a {
    width: calc(50% - 32px / 2);
  }
  #prev-next.n2 a + a {
    margin-left: 32px;
  }

  .articles {
    grid-row-gap: 32px;
    grid-column-gap: 24px;
    grid-template-columns: calc(100% / 3 - 24px * 2 / 3) calc(100% / 3 - 24px * 2 / 3) calc(100% / 3 - 24px * 2 / 3);
  }
}