@charset "UTF-8";
@font-face {
  font-family: "icon";
  src: url("../icon/icomoon/fonts/icomoon.eot?t=1628043222270") format("embedded-opentype"), url("../icon/icomoon/fonts/icomoon.woff?t=1628043222270") format("woff"), url("../icon/icomoon/fonts/icomoon.ttf?t=1628043222270") format("truetype"), url("../icon/icomoon/fonts/icomoon.svg?t=1628043222270") format("svg");
}
*[class^=icon-]:before, *[class*=" icon-"]:before {
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

.icon-0:before {
  content: "򠀀";
}

.icon-10:before {
  content: "򠀐";
}

.icon-11:before {
  content: "򠀑";
}

.icon-12:before {
  content: "򠀒";
}

.icon-13:before {
  content: "򠀓";
}

.icon-14:before {
  content: "򠀔";
}

.icon-15:before {
  content: "򠀕";
}

.icon-16:before {
  content: "򠀖";
}

.icon-17:before {
  content: "򠀗";
}

.icon-18:before {
  content: "򠀘";
}

.icon-19:before {
  content: "򠀙";
}

.icon-1:before {
  content: "򠀁";
}

.icon-1a:before {
  content: "򠀚";
}

.icon-1b:before {
  content: "򠀛";
}

.icon-1c:before {
  content: "򠀜";
}

.icon-1d:before {
  content: "򠀝";
}

.icon-1e:before {
  content: "򠀞";
}

.icon-1f:before {
  content: "򠀟";
}

.icon-20:before {
  content: "򠀠";
}

.icon-21:before {
  content: "򠀡";
}

.icon-22:before {
  content: "򠀢";
}

.icon-23:before {
  content: "򠀣";
}

.icon-24:before {
  content: "򠀤";
}

.icon-25:before {
  content: "򠀥";
}

.icon-26:before {
  content: "򠀦";
}

.icon-27:before {
  content: "򠀧";
}

.icon-28:before {
  content: "򠀨";
}

.icon-29:before {
  content: "򠀩";
}

.icon-2:before {
  content: "򠀂";
}

.icon-3:before {
  content: "򠀃";
}

.icon-4:before {
  content: "򠀄";
}

.icon-5:before {
  content: "򠀅";
}

.icon-6:before {
  content: "򠀆";
}

.icon-7:before {
  content: "򠀇";
}

.icon-8:before {
  content: "򠀈";
}

.icon-9:before {
  content: "򠀉";
}

.icon-a:before {
  content: "򠀊";
}

.icon-b:before {
  content: "򠀋";
}

.icon-c:before {
  content: "򠀌";
}

.icon-d:before {
  content: "򠀍";
}

.icon-e:before {
  content: "򠀎";
}

.icon-f:before {
  content: "򠀏";
}