@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lzjuth');
  src:  url('fonts/icomoon.eot?lzjuth#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lzjuth') format('truetype'),
    url('fonts/icomoon.woff?lzjuth') format('woff'),
    url('fonts/icomoon.svg?lzjuth#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-20:before {
  content: "\9e20";
}
.icon-0:before {
  content: "\9e0";
}
.icon-1:before {
  content: "\9e1";
}
.icon-2:before {
  content: "\9e2";
}
.icon-3:before {
  content: "\9e3";
}
.icon-4:before {
  content: "\9e4";
}
.icon-5:before {
  content: "\9e5";
}
.icon-6:before {
  content: "\9e6";
}
.icon-7:before {
  content: "\9e7";
}
.icon-8:before {
  content: "\9e8";
}
.icon-9:before {
  content: "\9e9";
}
.icon-a:before {
  content: "\9ea";
}
.icon-b:before {
  content: "\9eb";
}
.icon-c:before {
  content: "\9ec";
}
.icon-d:before {
  content: "\9ed";
}
.icon-e:before {
  content: "\9ee";
}
.icon-f:before {
  content: "\9ef";
}
.icon-10:before {
  content: "\9e10";
}
.icon-11:before {
  content: "\9e11";
}
.icon-12:before {
  content: "\9e12";
}
.icon-13:before {
  content: "\9e13";
}
.icon-14:before {
  content: "\9e14";
}
.icon-15:before {
  content: "\9e15";
}
.icon-16:before {
  content: "\9e16";
}
.icon-17:before {
  content: "\9e17";
}
.icon-18:before {
  content: "\9e18";
}
.icon-19:before {
  content: "\9e19";
}
.icon-2a:before {
  content: "\9e2a";
}
